$link-color: #bebebe;
$primary: #233a88;
$grey-shade: #7d7d7d;
$white: #fff;
$elipsis: #acacac;
$recom: #909090;

.input-container {
	display: flex;
	align-items: center;
	-moz-box-shadow: 0px 3px 8px $link-color;
	-webkit-box-shadow: 0px 3px 8px $link-color;
	box-shadow: 0px 3px 8px $link-color;
	border-radius: 35px;
}

.nav-options {
	display: flex;
	justify-content: space-evenly;
	a {
		text-decoration: none;
		color: $link-color;
		padding-bottom: 9px;
		&:nth-child(1) {
			border-bottom: 2px solid $primary;
			color: $primary;
			font-weight: 500;
		}
	}
}

hr {
	background-color: $link-color;
	height: 10px;
}

.recom {
	color: $primary;
	font-size: 1.1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	& p {
		font-weight: 700;
	}
	ion-icon {
		width: 1.5em;
		height: 1.5em;
		color: $elipsis;
	}
	& :hover {
		color: $primary;
	}
}

.ventis {
	font-size: 1.4em;
	color: $recom;
}

.gallery-box {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;

	.pic {
		-moz-box-shadow: 0px 3px 8px $link-color;
		-webkit-box-shadow: 0px 3px 8px $link-color;
		box-shadow: 0px 3px 8px $link-color;
		border-top: 1px solid $elipsis;
		border-left: 1px solid $elipsis;

		.move {
			height: 275px;
		}
	}
}

.profile {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.fit {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	& .avatar-box {
		background: url('/assets/person-circle.svg');
		background-repeat: no-repeat;
		background-size: cover;
	}

	& .delete {
		font-size: 1.7em;
	}
}

.fifty-vertical-one {
	height: 50%;
	display: flex;

	.mkbox {
		border-left: 1px solid $white;
	}

	& div img {
		height: 100%;
		width: 100%;
	}
}

.fifty-vertical-two {
	border-top: 1px solid $white;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;

	& .person {
		color: $white;
		font-size: 1em;
	}
}

.gallery-section2 {
	height: 275px;
	width: 100%;

	& img {
		object-fit: cover;
		height: 275px;
		min-width: 100%;
	}
}

.recom-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.9em;

	& ion-icon {
		color: $primary;
		width: 1.5em;
		height: 1.5em;
	}

	.circle {
		border-radius: 50%;
		width: 4px;
		height: 4px;
		background-color: $grey-shade;
	}

	.flex {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		& ion-icon {
			color: $elipsis;
			width: 1.5em;
			height: 1.5em;
		}
	}
}
