<ion-card>
  <ion-header class="ion-padding-top">
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col
            class="custom"
            size-md="8"
            offset-md="2"
            size-sm="8"
            offset-sm="4"
            size-xs="10"
            offset-xs="1"
            ><ion-icon name="location"></ion-icon>
            <ion-input type="search" placeholder="Search here..."> </ion-input>
            <ion-icon name="mic"></ion-icon>
            <ion-icon name="person-circle"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="legoo ion-margin-start ion-margin-end ion-margin-top">
        <a class="ion-padding-bottom" href="#">For you</a>
        <a class="ion-padding-bottom" href="#">Notifications</a>
        <a class="ion-padding-bottom" href="#">Messages</a>
      </div>

      <!-- tabs end -->
    </ion-toolbar>
  </ion-header>
  <hr />

  <!-- <ion-col size-lg="8" offset-lg="2" size-md="12
  <!-- paste here -->
  <ion-card-content class="ion-margin-top">
    <ion-card-header class="test">
      <h2 class="ion-text-uppercase">recommended</h2>
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-card-header>
    <ion-card-subtitle>Ventis recommendation</ion-card-subtitle>

    <ion-grid
      ><ion-row class="wetin ion-nowrap">
        <ion-col size="12" size-lg="5" size-sm="7" size-xs="8"
          ><ion-card class="ion-margin-end see"
            ><ion-card-header class="ion-padding-start ion-padding-end arrange"
              ><div class="arrange2">
                <ion-avatar class="ment"
                  ><ion-icon name="person-circle"></ion-icon></ion-avatar
                ><ion-card-title><p>person samson</p></ion-card-title>
              </div>
              <ion-icon name="close"></ion-icon> </ion-card-header
            ><ion-card-content class="shegee ion-no-padding">
              <div class="behave">
                <ion-thumbnail class="mk-box">
                  <img src="../assets/home1.jpg" alt="" />
                </ion-thumbnail>
                <ion-thumbnail class="mk-box">
                  <img src="../assets/home2.jpg" alt="" />
                </ion-thumbnail>
              </div>
              <div>
                <ion-thumbnail class="mk-box2">
                  <img src="../assets/home3.jpg" alt="" />
                </ion-thumbnail>
              </div>
              <ion-button
                ><ion-icon name="person-add"></ion-icon>Follow</ion-button
              >
            </ion-card-content>
          </ion-card></ion-col
        >

        <ion-col size-lg="5" size-sm="7" size-xs="8"
          ><ion-card class="ion-margin-end see"
            ><ion-card-header class="ion-padding-start ion-padding-end arrange"
              ><div class="arrange2">
                <ion-avatar class="ment"
                  ><ion-icon name="person-circle"></ion-icon></ion-avatar
                ><ion-card-title><p>person samson</p></ion-card-title>
              </div>
              <ion-icon name="close"></ion-icon>
            </ion-card-header> </ion-card
        ></ion-col>

        <ion-col size-lg="5" size-sm="7" size-xs="8"
          ><ion-card class="ion-margin-end see"
            ><ion-card-header class="ion-padding-start ion-padding-end arrange"
              ><div class="arrange2">
                <ion-avatar class="ment"
                  ><ion-icon name="person-circle"></ion-icon></ion-avatar
                ><ion-card-title><p>person samson</p></ion-card-title>
              </div>
              <ion-icon name="close"></ion-icon>
            </ion-card-header> </ion-card
        ></ion-col>

        <ion-col size-lg="5" size-sm="7" size-xs="8"
          ><ion-card class="ion-margin-end see"
            ><ion-card-header class="ion-padding-start ion-padding-end arrange"
              ><div class="arrange2">
                <ion-avatar class="ment"
                  ><ion-icon name="person-circle"></ion-icon></ion-avatar
                ><ion-card-title><p>person samson</p></ion-card-title>
              </div>
              <ion-icon name="close"></ion-icon>
            </ion-card-header> </ion-card
        ></ion-col>

        <ion-col size-lg="5" size-sm="7" size-xs="8"
          ><ion-card class="ion-margin-end see"
            ><ion-card-header class="ion-padding-start ion-padding-end arrange"
              ><div class="arrange2">
                <ion-avatar class="ment"
                  ><ion-icon name="person-circle"></ion-icon></ion-avatar
                ><ion-card-title><p>person samson</p></ion-card-title>
              </div>
              <ion-icon name="close"></ion-icon>
            </ion-card-header> </ion-card
        ></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
