<ion-app>
	<!-- header begins here -->
	<ion-header>
		<ion-toolbar class="ion-margin-top ion-padding-start ion-padding-end">
			<ion-grid>
				<ion-row>
					<ion-col
						class="input-container ion-margin-top"
						size-md="8"
						offset-md="2"
						size-sm="10"
						offset-sm="1"
						size-xs="10"
						offset-xs="1"
						><ion-icon
							class="ion-margin-start ion-margin-end"
							name="location"
						></ion-icon>
						<ion-input type="search" placeholder="Search here..."> </ion-input>
						<ion-icon name="mic"></ion-icon>
						<ion-icon
							class="ion-margin-start ion-margin-end"
							name="person-circle"
						></ion-icon>
					</ion-col>
				</ion-row>
			</ion-grid>

			<div
				class="nav-options ion-margin-start ion-margin-end ion-margin-top ion-padding-top"
			>
				<a href="#">For you</a>
				<a href="#">Notifications</a>
				<a href="#">Messages</a>
			</div>
		</ion-toolbar>
	</ion-header>
	<hr />
	<!-- header ends here -->

	<ion-content class="ion-padding">
		<ion-card-header>
			<div class="recom ion-margin-bottom">
				<p class="ion-text-uppercase">recommended</p>
				<ion-icon name="ellipsis-vertical"></ion-icon>
			</div>
			<h4 class="ventis ion-margin-bottom">Ventis recommendations</h4>
		</ion-card-header>

		<div>
			<ion-grid
				><ion-row class="gallery-box ion-nowrap ion-margin-bottom">
					<ion-col size-lg="4" size-md="5" size-sm="8" size-xs="10">
						<ion-card class="pic ion-margin-end ion-margin-bottom">
							<div
								class="profile ion-margin-start ion-margin-top ion-margin-end ion-margin-bottom"
							>
								<div class="fit">
									<ion-avatar class="avatar-box"> </ion-avatar>
									<ion-label class="ion-margin-start">Person X</ion-label>
								</div>
								<ion-icon class="delete" name="close"></ion-icon>
							</div>
							<div class="move">
								<div class="fifty-vertical-one">
									<div>
										<img src="../assets/home1.jpg" alt="" />
									</div>
									<div class="mkbox">
										<img src="../assets/home2.jpg" alt="" />
									</div>
								</div>
								<div class="fifty-vertical-one fifty-vertical-two">
									<div>
										<img src="../assets/home3.jpg" alt="" />
									</div>
								</div>
							</div>
							<div class="button ion-margin-top ion-margin-bottom">
								<ion-button shape="round">
									<ion-icon
										class="person ion-margin-end"
										name="person-add"
									></ion-icon
									>Follow
								</ion-button>
							</div>
						</ion-card>
					</ion-col>

					<ion-col size-lg="4" size-md="5" size-sm="8" size-xs="10">
						<ion-card class="pic ion-margin-end ion-margin-bottom">
							<div
								class="profile ion-margin-start ion-margin-top ion-margin-end ion-margin-bottom"
							>
								<div class="fit">
									<ion-avatar class="avatar-box"> </ion-avatar>
									<ion-label class="ion-margin-start">Person X</ion-label>
								</div>
								<ion-icon class="delete" name="close"></ion-icon>
							</div>
							<div class="move">
								<div class="fifty-vertical-one">
									<div>
										<img src="../assets/home1.jpg" alt="" />
									</div>
									<div class="mkbox">
										<img src="../assets/home2.jpg" alt="" />
									</div>
								</div>
								<div class="fifty-vertical-one fifty-vertical-two">
									<div>
										<img src="../assets/home3.jpg" alt="" />
									</div>
								</div>
							</div>
							<div class="button ion-margin-top ion-margin-bottom">
								<ion-button shape="round">
									<ion-icon
										class="person ion-margin-end"
										name="person-add"
									></ion-icon
									>Follow
								</ion-button>
							</div>
						</ion-card>
					</ion-col>

					<ion-col size-lg="4" size-md="5" size-sm="8" size-xs="10">
						<ion-card class="pic ion-margin-end ion-margin-bottom">
							<div
								class="profile ion-margin-start ion-margin-top ion-margin-end ion-margin-bottom"
							>
								<div class="fit">
									<ion-avatar class="avatar-box"> </ion-avatar>
									<ion-label class="ion-margin-start">Person X</ion-label>
								</div>
								<ion-icon class="delete" name="close"></ion-icon>
							</div>
							<div class="move">
								<div class="fifty-vertical-one">
									<div>
										<img src="../assets/home1.jpg" alt="" />
									</div>
									<div class="mkbox">
										<img src="../assets/home2.jpg" alt="" />
									</div>
								</div>
								<div class="fifty-vertical-one fifty-vertical-two">
									<div>
										<img src="../assets/home3.jpg" alt="" />
									</div>
								</div>
							</div>
							<div class="button ion-margin-top ion-margin-bottom">
								<ion-button shape="round">
									<ion-icon
										class="person ion-margin-end"
										name="person-add"
									></ion-icon
									>Follow
								</ion-button>
							</div>
						</ion-card>
					</ion-col>

					<ion-col size-lg="4" size-md="5" size-sm="8" size-xs="10">
						<ion-card class="pic ion-margin-end ion-margin-bottom">
							<div
								class="profile ion-margin-start ion-margin-top ion-margin-end ion-margin-bottom"
							>
								<div class="fit">
									<ion-avatar class="avatar-box"> </ion-avatar>
									<ion-label class="ion-margin-start">Person X</ion-label>
								</div>
								<ion-icon class="delete" name="close"></ion-icon>
							</div>
							<div class="move">
								<div class="fifty-vertical-one">
									<div>
										<img src="../assets/home1.jpg" alt="" />
									</div>
									<div class="mkbox">
										<img src="../assets/home2.jpg" alt="" />
									</div>
								</div>
								<div class="fifty-vertical-one fifty-vertical-two">
									<div>
										<img src="../assets/home3.jpg" alt="" />
									</div>
								</div>
							</div>
							<div class="button ion-margin-top ion-margin-bottom">
								<ion-button shape="round">
									<ion-icon
										class="person ion-margin-end"
										name="person-add"
									></ion-icon
									>Follow
								</ion-button>
							</div>
						</ion-card>
					</ion-col>

					<ion-col size-lg="4" size-md="5" size-sm="8" size-xs="10">
						<ion-card class="pic ion-margin-end ion-margin-bottom">
							<div
								class="profile ion-margin-start ion-margin-top ion-margin-end ion-margin-bottom"
							>
								<div class="fit">
									<ion-avatar class="avatar-box"> </ion-avatar>
									<ion-label class="ion-margin-start">Person X</ion-label>
								</div>
								<ion-icon class="delete" name="close"></ion-icon>
							</div>
							<div class="move">
								<div class="fifty-vertical-one">
									<div>
										<img src="../assets/home1.jpg" alt="" />
									</div>
									<div class="mkbox">
										<img src="../assets/home2.jpg" alt="" />
									</div>
								</div>
								<div class="fifty-vertical-one fifty-vertical-two">
									<div>
										<img src="../assets/home3.jpg" alt="" />
									</div>
								</div>
							</div>
							<div class="button ion-margin-top ion-margin-bottom">
								<ion-button shape="round">
									<ion-icon
										class="person ion-margin-end"
										name="person-add"
									></ion-icon
									>Follow
								</ion-button>
							</div>
						</ion-card>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>

		<!-- second gallery start -->
		<div class="ion-margin-top">
			<ion-card-header>
				<div class="recom-group ion-margin-bottom">
					<div class="recom-group">
						<ion-icon name="image"></ion-icon>
						<span class="ion-text-uppercase ion-margin-start ion-margin-end"
							>Top 5</span
						>
						<span class="ion-margin-end">Photos of the week</span>
						<div class="circle"></div>
						<span class="ion-margin-start">Lagos</span>
					</div>
					<div class="flex">
						<ion-icon name="flag"></ion-icon>
						<ion-icon
							class="ion-margin-start"
							name="ellipsis-vertical"
						></ion-icon>
					</div>
				</div>
			</ion-card-header>

			<ion-grid
				><ion-row class="gallery-box ion-nowrap ion-margin-bottom">
					<ion-col size-lg="4" size-md="5" size-sm="8" size-xs="10">
						<ion-card class="ion-margin-end ion-margin-bottom">
							<div class="gallery-section2">
								<img src="../assets/home3.jpg" alt="" />
							</div>
						</ion-card>
					</ion-col>

					<ion-col size-lg="4" size-md="5" size-sm="8" size-xs="10">
						<ion-card class="ion-margin-end ion-margin-bottom">
							<div class="gallery-section2">
								<img src="../assets/home1.jpg" alt="" />
							</div>
						</ion-card>
					</ion-col>

					<ion-col size-lg="4" size-md="5" size-sm="8" size-xs="10">
						<ion-card class="ion-margin-end ion-margin-bottom">
							<div class="gallery-section2">
								<img src="../assets/home2.jpg" alt="" />
							</div>
						</ion-card>
					</ion-col>

					<ion-col size-lg="4" size-md="5" size-sm="8" size-xs="10">
						<ion-card class="pic ion-margin-end ion-margin-bottom">
							<div class="move">
								<div class="gallery-section2">
									<img src="../assets/home1.jpg" alt="" />
								</div>
							</div>
						</ion-card>
					</ion-col>

					<ion-col size-lg="4" size-md="5" size-sm="8" size-xs="10">
						<ion-card class="ion-margin-end ion-margin-bottom">
							<div class="gallery-section2">
								<img src="../assets/home3.jpg" alt="" />
							</div>
						</ion-card>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</ion-content>

	<!-- footer begins here -->
	<ion-footer>
		<ion-toolbar>
			<ion-tabs>
				<ion-tab-bar slot="bottom">
					<ion-tab-button routerLink="/login" tab="home">
						<ion-icon class="footer" name="home"></ion-icon>
						<ion-label>Home</ion-label>
					</ion-tab-button>

					<ion-tab-button tab="bus">
						<ion-icon name="bus"></ion-icon>
						<ion-label>Commute</ion-label>
					</ion-tab-button>

					<ion-tab-button tab="updates">
						<ion-icon name="notifications"></ion-icon>
						<ion-label>Updates</ion-label>
					</ion-tab-button>
				</ion-tab-bar>
			</ion-tabs>
		</ion-toolbar>
	</ion-footer>
	<!-- footer ends here -->
</ion-app>
