$link-color: #bebebe;
$primary: #233a88;
$grey-shade: #7d7d7d;
$white: #fff;
$elipsis: #acacac;
$recom: #909090;

.input-container {
	// border: 1px solid $link-color;
	display: flex;
	align-items: center;
	-moz-box-shadow: 0px 3px 8px $link-color;
	-webkit-box-shadow: 0px 3px 8px $link-color;
	box-shadow: 0px 3px 8px $link-color;
	border-radius: 35px;
}

.nav-options {
	display: flex;
	justify-content: space-evenly;
	a {
		text-decoration: none;
		color: $link-color;
		padding-bottom: 9px;
		&:nth-child(1) {
			border-bottom: 2px solid $primary;
			color: $primary;
			font-weight: 500;
		}
	}
}

hr {
	background-color: $link-color;
	height: 10px;
}

.recom {
	color: $primary;
	font-size: 0.7em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 12px solid purple;
	& h3 {
		font-weight: 700;
	}
	ion-icon {
		width: 25px;
		height: 25px;
		color: $elipsis;
	}
	& :hover {
		color: $primary;
	}
}

.ventis {
	font-size: 1.7em;
	color: $recom;
}

.gallery-box {
	border: 12px solid red;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
}

.pic {
	// height: 370px;
	-moz-box-shadow: 0px 3px 8px $link-color;
	-webkit-box-shadow: 0px 3px 8px $link-color;
	box-shadow: 0px 3px 8px $link-color;
	border-top: 1px solid $elipsis;
	border-left: 1px solid $elipsis;
}

.profile {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.fit {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	& .avatar-box {
		// width: 50px;
		// height: 50px;
		background: url('/assets/person-circle.svg');
		background-repeat: no-repeat;
		background-size: cover;
	}

	& .delete {
		font-size: 1.7em;
	}
}

.move {
	height: 290px;
}

.fifty-vertical-one {
	height: 50%;
	display: flex;

	.mkbox {
		border-left: 1px solid $white;
	}

	& div img {
		height: 100%;
		width: 100%;
	}
}

.fifty-vertical-two {
	border-top: 1px solid $white;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;

	& .person {
		color: $white;
		font-size: 1em;
	}
}
